<div class="content">
  <mat-card>
    <mat-card-title>
      <h1>{{ contentObj.name }}</h1>
    </mat-card-title>
    <mat-card-content>
      <img
        mat-card-image
        src="{{ urlImage(contentObj.sprite) }}"
        alt="Photo of ."
      />
      <h4>Height: {{ contentObj.height }} "</h4>
      <h4>Weight: {{ contentObj.weight }} kg.</h4>
      <h4>Type: {{ contentObj.type }}</h4>
      <p>Moves: {{ contentObj.moves }}</p>
      <p>Abilities: {{ contentObj.abilities }}</p>
      <p>Stats: {{ contentObj.stats }}</p>
      <p>Games: {{ contentObj.games }}</p>
    </mat-card-content>

    <mat-card-content class="mat-card.card-content">
      <!-- <mat-expansion-panel
          (opened)="panelOpenState = true"
          (closed)="panelOpenState = false"
        >
          <mat-expansion-panel-header>
            <mat-panel-title> Type </mat-panel-title>
          </mat-expansion-panel-header>          
          <p> {{ contentObj.type }}</p>
        </mat-expansion-panel> -->
    </mat-card-content>
    <mat-dialog-actions>
      <button mat-raised-button color="warn" (click)="close()">Close</button>
    </mat-dialog-actions>
  </mat-card>
</div>
