<div class="content">
  <mat-card
    [style.background-image]="'url(/assets/pokedex.png)'"
    style="
      min-height: 100%;
      background-size: 100% 100%;
      background-repeat: no-repeat;
    "
  >
    <mat-card-title> </mat-card-title>
    <mat-card-content>
      <br/>
      <br/>
      <br/>
      <br/>
      <img
        style="margin-left: 50%;"
        mat-card-image
        src="{{ urlImage(contentObj.spriteF) }}"
        alt="Photo of ."
      />
      <img
      mat-card-image
      src="{{ urlImage(contentObj.spriteB) }}"
      alt="Photo of ."
    />
      <h1> {{contentObj.order}} - {{ contentObj.name }}</h1>
      <h4>
        Height: {{ contentObj.height }} ". Weight: {{ contentObj.weight }} kg.
        <br />
        Type: {{ contentObj.type }}
      </h4>
      <p>
        {{ contentObj.stats }} <br />
        Moves: {{ contentObj.moves }} <br />
        Abilities: {{ contentObj.abilities }} 
        <br />Games: {{ contentObj.games }}
      </p>
    </mat-card-content>
    <mat-dialog-actions>
      <button mat-raised-button color="warn" (click)="close()">Close</button>
    </mat-dialog-actions>
  </mat-card>
</div>
